<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

   <p>
    Splurty was built by <a target="_blank" href="http://github.com/CoryMRucker">Cory</a>. A new web developer learning the ropes.
  </p>
  <br />
  <p>
  	Cory is excited for this new journey.  Fascinated by hacking and rooting Android and Apple phones, he would like to begin building his own applications.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Cory Rucker</h2>
      <br />
      <p>
        Cory Rucker is a new web developer. Beginning his career in security then moving to medical sales.  He new there was something more for him.  Having a passion for technology he decided to take the jump into coding!
      </p>
    </div>
  </div>
  <br class="clear" />


</div>

<br class="clear" />
<br />
<br />
<br />
<br />

